<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
		<title>Zrób to tak: portal pełen pomysłów</title>		<meta name="description" content="Tutaj bedzie zwartosć" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="css/layout_style.css" />
			<link rel="shortcut icon" href="images\favicon.ico" />         
  <link href="css/last_added.css" rel="stylesheet" type="text/css" /> 
  <link href="css/main_menu.css" rel="stylesheet" type="text/css" />
  <link href="css/green_menu.css" rel="stylesheet" type="text/css" />
                  
 <link href="css/news.css" rel="stylesheet" type="text/css" /> 
<link href="css/main_page.css" rel="stylesheet" type="text/css" />
<link href="css/advice_lists.css" rel="stylesheet" type="text/css" />

   </head>
   <body>
      <div id="wrapper">
         <div id="container">
         
         
         
           <div id="precontent">
           
           
           
           <!-- gorny kontener zawierajacy logo oraz formularze logowania, wyszukiwnia-->
<div id="header_cont">

<!--Lewa gorna czesc, strona glonwa, logo, oraz logo, poprawienie zwalidowana-->
               <div id="header">
                  <a href="default.htm">Strona Główna</a> | <a href="#"><strong>Pomoc</strong></a>
                  <h1 id="logo">
                     <a title="ZrobToTak- portal pełen pomysłów" href="#">zróbTOtak.pl</a>
                  </h1>
               </div>
               <!--koniec lewej gornej czesci tj logo++-->




<!--Gorny blok, logowanie, wszukiwanie -->
               <div id="register">
                                 <form action="#" method="post">
                     <fieldset>
                       <label for="login"  class="f">Login:</label><input type="text" id="login" name="login"/> <label for="pass" class="f">Hasło:</label>
                       <input type="password" id="pass" name="password" />
                       <button type="submit">zaloguj się</button>
                     </fieldset>
                  </form>

                  <p>
                     Nowy użytkownik? <a href="#">Załóż konto</a>
                  </p>
                  <form class="search" action="#" method="get">
                     <fieldset>
                        <label for="search">Szukaj:</label><input type="text" id="search" name="query" value=""/> <button type="submit">szukaj</button>  <em>Aktualnie znajdziesz u nas <strong>111 porad</strong> i <strong>22 użytkowników</strong></em>                     </fieldset>
                  </form>
               </div>
               <!-- konczy sie gorna czesc: tj logowanie, wyszukiwanie-->
               



               
            </div> 
            <!-- koniec calej gornej czesc-->
     
     
     
<!--tutaj nalezy zapuszczac skrypty w symfony-->     
                 <div class="main_container_wrapper">
           
                  
                  <!--lewa strona strony, tj menu i inne-->
                  <div id="all_left_site_part">
                  <div id="menu">
	<div id="menubody">
        <ul id="menulist">
            <li class="general_category"><a href="#">żżPosition 1</a></li>
            <li class="general_category"><a href="#">Position</a></li>
            
            <li class="category"><a href="#">Podkategoria 1</a></li>
            <li class="category"><a href="#">Podgategoria 2</a></li>
            <li class="category_underlink"><a href="#">Podgategoria 4</a></li>
            <li class="category"><a href="#">Podgategoria 5</a></li>
            
            <li class="general_category"><a href="#">Position 3</a></li>
            <li class="general_category"><a href="#">Position 4</a></li>
            <li class="general_category"><a href="#">Position 5</a></li>
    	</ul>
    </div>
<div id="menubottom"></div>
</div>
                  
                  </div>
                  <!--Koniec lewej czesci strony-->
                  
                  
                  <!--srodkowa czesc strony aktualnosci i inee rzeczy-->
                  <div id="all_middle_site_part">
                  <img src="images/main_buttom/nav_button.png"/>
                  <div class="space_maker" style="height:25px"></div>
                  
                  <!--dokladam aktualnosci-->
                  <div id="news_container">
<div id="news_heading"> <h1 id="news_headingH1">Aktualności</h1></div>

<div id="news_content">

<div id="news_left_content">
<div id="picture"><img src="images/news/test_images.jpg"/></div>
<div id="text_under_picture">
<h3 id="text_under_pic_h3"><a href="">Uczniom należy zapewnić możliwość dalszego kształcenia </a></h3>
<div class="data_under_picture">22 kwietnia 2002</div>
<div id="clear_text">
W przypadku likwidacji warsztatów szkolnych jednostki samorządu terytorialnego mają obowiązek zapewnić korzystającym z ich usług dalszą możliwość zdobywania umiejętności praktycznych — pisze dzisiejsza Rzeczpospolita
</div>

</div>
</div>
<div id="news_right_content">

<ul>
<li class="underline"><a href="">Co nowego slychac w naszym pięknym świecie.</a><div class="data">22 kwietnia 2010</div></li>

<li class="none_underline"><a href="">Co nowego slychac w naszym pięknym świecie.</a><div class="data">22 kwietnia 2010</div></li>
<li class="none_underline"><a href="">Dzisiaj przjebałem cymbała jednego z głowki</a><div class="data">22 marzec 2003</div></li>
<li class="none_underline"><a href="">Ale urwał cymbał jeden nie myty</a><div class="data">22 marzec 2003</div></li>
</ul>
 
</div>
<div id="news_clear"></div>
</div>


<div id="news_bottom"> </div>
</div>
                  
                  
                  <!--koniec aktualnosc-->
                  
                  <div style="height:25px"></div>
                  
                  <!--lista porad-->
                  <div id="advice_list">
<div id="adivice_list_heading">  
<div id="name_head">Porada</div>
<div id="note_head">Oceny</div>
<div id="count_head">Odsłon</div>
<div id="author_head">Autor</div>

</div>

<div id="advice_list_content">	

<ul class="even">
<li id="advice_name"><a href="">Jak zalożyć firme i nie myśleć o robieniu ...</a></li>
<li id="advice_note">2/4</li>
<li id="advice_count">22</li>
<li id="advice_author"><a href="">Marco</a></li>
<li style="display:block; clear:both"></li>
</ul>

<ul class="odd">
<li id="advice_name"><a href="">Jak zrobić dobry interes w domu na lewo</a></li>
<li id="advice_note">2/4</li>
<li id="advice_count">22</li>
<li id="advice_author"><a href="">Thomas1234</a></li>
<li style="display:block; clear:both"></li>
</ul>

<div id="paginator">

<ul id="pagination-clean">
  <li class="previous-off">&laquo; Previous</li>
  <li class="previous"><a href="?page=8">&laquo; Previous</a></li>
    <li class="active">1</li>
    <li><a href="?page=2">2</a></li>
    <li><a href="?page=3">3</a></li>
    <li><a href="?page=4">4</a></li>
    <li><a href="?page=5">5</a></li>
    <li><a href="?page=6">6</a></li>
    <li><a href="?page=7">7</a></li>
    <!--tutaj jest aktywne, musi byc link-->
    <li class="next"><a href="?page=8">Next &raquo;</a></li>
    <!--ten jest nieaktywny-->
    <li class="next-off">Next &raquo;</li>
</ul>
<div style="clear:both"></div>
</div>

</div>

<div id="advice_bottom">		</div>

</div>
                  
                  <!-- koniec listy porad-->
                  
                  
                  
                  
                  </div>
                  <!--koniec srodkowej czesci-->
                  
                  <!-- prawy czesc strony-->
                  <div id="all_right_site_part">
                  <div id="last_added">

<div id="heading_last_added"><h2>Top 10 DOm i ogrody</h2></div>

<div id="content_last_added">
<ul>
<li><a href="" >Jak przykrecic srobke do samochodu </a></li>
<li><a href="">Jak zawiesic klamke w kapeluszu</a></li>
<li><a href="">Niewiadomo</a></li>
<li><a href="">uruchomienie</a></li>
</ul>

</div>
<div id="bottom_last_added"></div>
</div>
                  </div>
                  <!--koniec prawej strony-->
                  <div style="clear:both" class="clear_after_flow"></div>
                  
             </div>       
<!--tutaj juz nie bedziemy zapuszczac skryptow w symfony-->



</div>

            
             <!-- TOtaj konczy sie prekontent-->
           
      
      
      


           
           
           <!--dolne menu wraz z pomoca, ma gorny margines 30px-->
           <div id="short_menu">
       <a class="help" href="#">Pomoc</a>
       <ul>
               <li>
                  <a href="#">Strona główna</a>
               </li>

				<li>|</li>	
               <li>
                  <a href="#">Czytaj porady</a>
               </li>

 								<li>|</li>	
               <li>
                  <a href="#">RSS</a>
               </li>
 								<li>|</li>	
               <li>
                  <a href="#">Dodaj poradę</a>
               </li>
               				<li>|</li>
               <li>
                  <a href="#">Dołącz do nas</a>
               </li>
                             <li>|</li>
               <li>
               <a href="#">Zgłoś problem</a></li>
               <li>|</li>
                <li>
               <a href="#">Regulamin</a></li>
               <li>|</li>
               <li>
               <a href="#">FAQ</a></li>
               
               
      </ul>
</div>
			<!--koniec dolnego menu-->


</div></div>
        
        <!--do tego komemntu jest wraper -->
        
      

<!-- caly blok trzymajacy zbior blokow w jednej calosci-->
<div id="footer_holder">


<!--menu typu kategorie, uzytkonicy itd... wszystko wszystepuje w postaci list ul, li-->
         <div id="footer_up">
         	<div style="overflow: hidden;">
				                  <ul>
                     <li>
                        <h5>
                           Kategorie zróbTOtak.pl:
                        </h5>
                     </li>
					                     <li>
                        <a href="#">Muzyka</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Sport</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Kulinaria</a>
                     </li><li>|</li>
                                         <li>
                        <a href="bron-i-militaria">Motoryzacja</a>
                     </li><li>|</li>
                    
                     <li>
                        <a class="all" href="kategorie">wszystkie kategorie</a>
                     </li>
                  </ul> 				                  <ul class="brd">
                     <li>
                        <h5>Użytkownicy:
                        </h5>
                     </li>
					                     <li>
                        <a href="#">Tomeo_22</a>
                     </li><li>|</li>
                                         <li>
                        <a href="">Marco</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Ziaja</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Jacoo</a>
                     </li><li>|</li>
                    
                     <li>
                        <a class="all" href="marki">więcej użytkowników</a>
                     </li>
                  </ul> 				                  
                                       
				   <ul class="brd">
                     <li>
                        <h5>Linki:
                        </h5>
                     </li>
                     <li>
                     	<a href="#">pwr</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">wiadomości</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">poczta</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">pogoda</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">aukcje</a>
                     </li>
                     <li>|</li>
                     <li><a href="#" title="gry online">gry</a></li>
                     <li>|</li>
                     <li><a href="#" title="moda">moda</a></li>
                     <li>|</li>
                     <li><a href="#" title="randki">randki</a></li>
                   </ul>
			</div>

            
         </div>
<!---koniec menu typu kategorie, uzytkownicy-->


<!--dolna stopka informujaca o prawach autorskich itd..-->
         <div id="footer_down">
            <div class="warning">
               <p>
                  Tutaj cos bedzie</p>
            </div>

            <p class="bold">
               Copyright © <strong>ZróbToTak.pl<br />
               </strong></p>
            <p class="bold">&nbsp;</p>
          <p></p>

            
         </div>
         <!--koniec stopki -->
         
         
      </div>
      <!--koniec calego dolu-->
      
   </body>
</html>
