<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
		<title>Zrób to tak: portal pełen pomysłów</title>		<meta name="description" content="Tutaj bedzie zwartosć" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="css/layout_style.css" />
			<link rel="shortcut icon" href="images\favicon.ico" />         
  <link href="css/last_added.css" rel="stylesheet" type="text/css" /> 
  <link href="css/main_menu.css" rel="stylesheet" type="text/css" />
  <link href="css/green_menu.css" rel="stylesheet" type="text/css" />
                  
 <link href="css/news.css" rel="stylesheet" type="text/css" /> 
<link href="css/main_page.css" rel="stylesheet" type="text/css" />
<link href="css/advice_lists.css" rel="stylesheet" type="text/css" />
<link href="css/advice.css" rel="stylesheet" type="text/css" />


   </head>
   <body>
      <div id="wrapper">
         <div id="container">
         
         
         
           <div id="precontent">
           
           
           
           <!-- gorny kontener zawierajacy logo oraz formularze logowania, wyszukiwnia-->
<div id="header_cont">

<!--Lewa gorna czesc, strona glonwa, logo, oraz logo, poprawienie zwalidowana-->
               <div id="header">
                  <a href="default.htm">Strona Główna</a> | <a href="#"><strong>Pomoc</strong></a>
                  <h1 id="logo">
                     <a title="ZrobToTak- portal pełen pomysłów" href="#">zróbTOtak.pl</a>
                  </h1>
               </div>
               <!--koniec lewej gornej czesci tj logo++-->




<!--Gorny blok, logowanie, wszukiwanie -->
               <div id="register">
                                 <form action="#" method="post">
                     <fieldset>
                       <label for="login"  class="f">Login:</label><input type="text" id="login" name="login"/> <label for="pass" class="f">Hasło:</label>
                       <input type="password" id="pass" name="password" />
                       <button type="submit">zaloguj się</button>
                     </fieldset>
                  </form>

                  <p>
                     Nowy użytkownik? <a href="#">Załóż konto</a>
                  </p>
                  <form class="search" action="#" method="get">
                     <fieldset>
                        <label for="search">Szukaj:</label><input type="text" id="search" name="query" value=""/> <button type="submit">szukaj</button>  <em>Aktualnie znajdziesz u nas <strong>111 porad</strong> i <strong>22 użytkowników</strong></em>                     </fieldset>
                  </form>
               </div>
               <!-- konczy sie gorna czesc: tj logowanie, wyszukiwanie-->
               



               
            </div> 
            <!-- koniec calej gornej czesc-->
     
     
     
<!--tutaj nalezy zapuszczac skrypty w symfony-->     
                 <div class="main_container_wrapper">
           
                  
                  <!--lewa strona strony, tj menu i inne-->
                  <div id="all_left_site_part">
                  <div id="menu">
	<div id="menubody">
        <ul id="menulist">
            <li class="general_category"><a href="#">żżPosition 1</a></li>
            <li class="general_category"><a href="#">Position</a></li>
            
            <li class="category"><a href="#">Podkategoria 1</a></li>
            <li class="category"><a href="#">Podgategoria 2</a></li>
            <li class="category_underlink"><a href="#">Podgategoria 4</a></li>
            <li class="category"><a href="#">Podgategoria 5</a></li>
            
            <li class="general_category"><a href="#">Position 3</a></li>
            <li class="general_category"><a href="#">Position 4</a></li>
            <li class="general_category"><a href="#">Position 5</a></li>
    	</ul>
    </div>
<div id="menubottom"></div>
</div>
                  
                  </div>
                  
                  
                  
                  <!--cala prawa czesc czyli porada-->
                  <div id="right_column_advice_wrapper">
                  <div id="advice_wrapper">
<div id="advice_upper_slicer"></div>

<!--tutaj znajduje się górana cześć tj tytuł, autor, krótki opis-->
<div id="advice_heading_wrapper">

<!-- lewa czesc naglowka, tj tytul, opis porady-->
<div id="left_part_advice_head">
<h1 id="advice_tittle">Jak otworzyć drzwi bez kluczyka??</h1>
<h2 id="desc_short_text">Opis porady</h2>

<div class="short_desc_wrapper">

<div id="short_desc_heading"></div>
<div id="short_desc_content">
<!--tutaj zawierać sie bedzie krotki opis-->
Rats and other household pests seek places that fill their basic survival needs of food, water and shelter. Once they have established a place to live and breed, pests can be difficult to eradicate, and they can destroy property and spread disease. But using poisons and traps to kill rodents can cause unwanted smells. So the best way to control pests is to prevent them from moving into your home in the first place</div>
<div id="short_desc_bottom"></div>

</div>

</div>


<!-- prawa czesc, zawiera tytyl, data oraz uzytkownika-->
<div id="right_part_advice_head">
<div id="level_text">Poziom: <h4>wysoki</h4></div>

<div id="author_advice">Data: <h4>22.03.2008</h4></div>
<div id="author_advice">Autor: <h4>Marcoo202</h4></div>
</div>
<img style="padding-top:7px" src="images/advice/user_picture.jpeg" height="100" width="100"/>
<!--czysci floata-->
<div id="adivice_head_cleaner"></div>

</div>



<!-- tutaj znajduje się w cześć w ktorej jest instrukcja oraz tego co potrzebujesz do wykonania-->
<div id="advice_insturction_wrapper">
<h2 id="instruction_text">Instrukcja</h2>
<div id="instruction_header_slice"></div>

<div class="advice_instruction_content"><!--tutaj sa 2 plywajace-->
<div id="instruction_left_side">
  <p>1. Hide your discarded food by keeping a tight lid on your outdoor trashcan. Empty your indoor trash daily. Don't leave food in pet bowls, especially moist food. Sweep up crumbs and store open food cartons in sealed containers. Be sure not to leave dirty dishes out overnight, and clean your kitchen after meals so there are no spills or dried food left to attract bugs or rodents. Dispose of fallen and rotting fruit in your yard. If you have bird feeders, don't overfill them. Store birdseed in sealed containers.</p>
  <p>2. Remove standing water. Dishes under your plants provide easy access to water for rodents. And dampness attracts bugs. Remove water-damaged material from your home and fix any leaky plumbing. Mosquitoes need less than one inch of water to breed, so don't let rainwater accumulate in toys, buckets or other items in your yard.</p>
  <p>3. Remove trash and storage boxes that look like inviting homes. Don't store newspapers or piles of clothing. Remember that wood, even fresh wood, can attract termites and ants. So don't allow old wood to accumulate in your yard.</p>
  <p>4. Search the outside of your house for tiny holes that could allow bugs or rodents to enter your home. Caulk any holes and cracks, and cover exposed drains and vents with screen. Keep mulch and vegetation a minimum of 18 inches from the foundation of your home. Trim tree branches away from your house so rodents can't use them to gain access to the roof and attic.</p>
</div>

<div id="instruction_right_side">
<div id="instruction_need_head"></div>
<div id="instruction_need_content"><!--co potrzebuje wysweietla-->
  <p>I miotly</p>
  <p>II myszki oblizanej</p>
  <p>III laleczki czaki</p>
  <p>IV Mamani<br />
    V paluszka<br />
    VI fajeda<br />
  </p>
</div>
<div id="instruction_need_bottom"></div>

</div>

<div style="clear:both"></div>

</div>
<div id="instruction_bottom"></div>
</div>

<div id="advice_bootom_slicer"></div>
</div>
                  
                  
                  </div>
                  
                  
                  <!--koniec calej prawej czesci-porady-->
                  
                  
                  
                  
                  
                  
                  
                  <div style="clear:both" class="clear_after_flow"></div>
                  
             </div>       
<!--tutaj juz nie bedziemy zapuszczac skryptow w symfony-->



</div>

            
             <!-- TOtaj konczy sie prekontent-->
           
      
      
      


           
           
           <!--dolne menu wraz z pomoca, ma gorny margines 30px-->
           <div id="short_menu">
       <a class="help" href="#">Pomoc</a>
       <ul>
               <li>
                  <a href="#">Strona główna</a>
               </li>

				<li>|</li>	
               <li>
                  <a href="#">Czytaj porady</a>
               </li>

 								<li>|</li>	
               <li>
                  <a href="#">RSS</a>
               </li>
 								<li>|</li>	
               <li>
                  <a href="#">Dodaj poradę</a>
               </li>
               				<li>|</li>
               <li>
                  <a href="#">Dołącz do nas</a>
               </li>
                             <li>|</li>
               <li>
               <a href="#">Zgłoś problem</a></li>
               <li>|</li>
                <li>
               <a href="#">Regulamin</a></li>
               <li>|</li>
               <li>
               <a href="#">FAQ</a></li>
               
               
      </ul>
</div>
			<!--koniec dolnego menu-->


</div></div>
        
        <!--do tego komemntu jest wraper -->
        
      

<!-- caly blok trzymajacy zbior blokow w jednej calosci-->
<div id="footer_holder">


<!--menu typu kategorie, uzytkonicy itd... wszystko wszystepuje w postaci list ul, li-->
         <div id="footer_up">
         	<div style="overflow: hidden;">
				                  <ul>
                     <li>
                        <h5>
                           Kategorie zróbTOtak.pl:
                        </h5>
                     </li>
					                     <li>
                        <a href="#">Muzyka</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Sport</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Kulinaria</a>
                     </li><li>|</li>
                                         <li>
                        <a href="bron-i-militaria">Motoryzacja</a>
                     </li><li>|</li>
                    
                     <li>
                        <a class="all" href="kategorie">wszystkie kategorie</a>
                     </li>
                  </ul> 				                  <ul class="brd">
                     <li>
                        <h5>Użytkownicy:
                        </h5>
                     </li>
					                     <li>
                        <a href="#">Tomeo_22</a>
                     </li><li>|</li>
                                         <li>
                        <a href="">Marco</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Ziaja</a>
                     </li><li>|</li>
                                         <li>
                        <a href="#">Jacoo</a>
                     </li><li>|</li>
                    
                     <li>
                        <a class="all" href="marki">więcej użytkowników</a>
                     </li>
                  </ul> 				                  
                                       
				   <ul class="brd">
                     <li>
                        <h5>Linki:
                        </h5>
                     </li>
                     <li>
                     	<a href="#">pwr</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">wiadomości</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">poczta</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">pogoda</a>
                     </li><li>|</li>
                     <li>
                     	<a href="#">aukcje</a>
                     </li>
                     <li>|</li>
                     <li><a href="#" title="gry online">gry</a></li>
                     <li>|</li>
                     <li><a href="#" title="moda">moda</a></li>
                     <li>|</li>
                     <li><a href="#" title="randki">randki</a></li>
                   </ul>
			</div>

            
         </div>
<!---koniec menu typu kategorie, uzytkownicy-->


<!--dolna stopka informujaca o prawach autorskich itd..-->
         <div id="footer_down">
            <div class="warning">
               <p>
                  Tutaj cos bedzie</p>
            </div>

            <p class="bold">
               Copyright © <strong>ZróbToTak.pl<br />
               </strong></p>
            <p class="bold">&nbsp;</p>
          <p></p>

            
         </div>
         <!--koniec stopki -->
         
         
      </div>
      <!--koniec calego dolu-->
      
   </body>
</html>
